<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CBIR</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- <script src="./static/dropzone.js"></script> -->
</head>
<body class="bg-light p-5" onload="loadImage()">
    <h1>Content Based Image Descriptor</h1>
    <!-- <h1>Joedoel</h1> -->
    <form action="/upload" method="post" enctype="multipart/form-data" class="form-group"> 
        <input type="file" name="query" id="my-dropzone" class="form-control-file">
        <input type="submit" value="Search" class="btn btn-primary">
    </form>
    {% if images %}
        <script>
            // location.reload();
            function loadImage(){
                document.getElementById('query').src = "./static/test.jpg?rnd="+Math.random();
            }
        </script>
            <div class="container text-center card" >
                <div class="row text-center d-flex justify-content-center">
                    <img class="card-img-top" alt="Card image cap" class="w-50"  id="query">
                    <div class="card-body">
                        <p class="card-text">Query</p>
                    </div>
                </div>    
            </div>
            <div class="row text-center d-flex justify-content-center">
                {% for image in images %}
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src={{image}} alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Rank #{{loop.index0 + 1}}</p>
                        </div>
                    </div>    
                <!-- <img src={{image}} class="text-center"> -->
                {% endfor %}
            </div>
        </div>
    {% endif %}
</body>
</html>